* {
    margin: 0;
    padding: 0;
}

.navbar {
    z-index: 10;
}
/* 
.nav-scrolled{
    background-color: #fff;
    box-shadow: 0 3px 10px rgb(0, 0, 0.15); 
} */

.carousel-item {
    height: 100vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card{
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.open-donation{
    margin-top: 30px;
    margin-right: 40px;
    margin-bottom: 30px;
}

.c-img{
    filter: brightness(60%);
}

.inviting {
    text-align: center;
    color: rgb(42, 42, 42);
    width: 100%;
    height: 50%;
    padding: 50px;
}

.intro{
    margin-left: -80px;
}
.intro h5{
    color: #E5BA73;
    font-size: 40px;
    font-weight: 700;
    position: absolute;
    margin-top: -9em;
}

.intro p{
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    margin-top: -15rem;
}

.btn-donate-intro{
    position: absolute;
    margin-top: -20%;
}
.video{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 10px;
    margin-bottom: 50px;
}
.inviting{
    background-color: #E5BA73;
    width: 100%;
    height: 50%;
    margin-bottom: 90px;
}
.inviting a{
    text-decoration: none;
    margin: 10px;
}

section .user{
    font-size: 80px;
}
section .heart{
    font-size: 80px;
}

.left-content{
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 15px;
    padding: 30px;
    width: 40%;
    margin-bottom: 90px;
}

.left-text{
    margin-top: -5em;
    position: absolute;
    margin-left: 8rem;  
}

.left-content h5{
    font-size: 35px;
    font-weight: 700;
}

.right-content{
    position: absolute;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 15px;
    padding: 30px;
    width: 40%;
    margin-left: 48%;
    margin-top: -14.4em;
}

.right-content h5{
    font-size: 35px;
    font-weight: 700;
}
.form-img{
    position: fixed;
    width: 40%;
    margin-left: -7%;
    object-fit: cover;
}

.form-content{
    position: absolute;
    left: 56%;
    top: 24%;
}
.form-text a{
    text-decoration: none;
}
.form-text h3{
    margin-left: 2em;
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 2px solid black;
}

input[type=text],
input[type=email],
input[type=password],
input[type=text],
input[type=submit]{
    width: 120%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=submit]{
    padding: 5px;
}

.register{
    margin-top: -35px;
}
footer {
    background-color: #E5BA73;
    color: white;
    width: 100%;
    height: 50%;
    padding: 50px;
}
