@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

/* .navbar {
    z-index: 10;
} */

nav.navnav ul li a{
    color: #797979;
}
nav.navnav ul li a:hover{
    color: #E5BA73;
}
/* 
.nav-scrolled{
    background-color: #fff;
    box-shadow: 0 3px 10px rgb(0, 0, 0.15); 
} */

.carousel-item {
    height: 100vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-caption{
    margin-top: 40%;
    margin-left: -5%;
}
.carousel-caption h5{
    color: #fff;
    font-size: 8vh;
}
.carousel-caption p{
    color: #fff;
    font-size: 3vh;
    font-weight: 300;
}
.btn-yellow{
    background-color: #E5BA73;
    color: white;
}

.btn-yellow:hover{
    background-color: #E5BA73;
    color: white;
}
.btn-yellow:active{
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg:  #E5BA73;
}

.detail-btn{
    color: #fff;
    background-color: #E5BA73;
    border: none;
    border-radius: 5px;
    width: 20%;
    padding: 5px;
}

.form-check-input:checked {
    background-color: #E5BA73;
    border-color: #E5BA73;
}

.open-donation{
    margin-top: 30px;
    margin-right: 40px;
    margin-bottom: 30px;
}
.card{
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-donasi{
    color: #fff;
    background-color: #E5BA73;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
}

.payment{
    margin-left: 15%;
}
.btn-pay{
    border: 1px solid #E5BA73;
    color:black;
    background-color: #fff;
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px;
    width: 50vh;
    margin-bottom: 10px;
}

.pay-input{
    border: 1px solid #E5BA73;
    width: 70vh;
    padding: 8px;
}

.more-btn{
    width: 50vh;
}


.c-img{
    height: 100vh;
    filter: brightness(60%);
}

.inviting {
    text-align: center;
    color: rgb(42, 42, 42);
    width: 100%;
    height: 50%;
    padding: 50px;
}

img .profile-img{
   border-radius: 100%;
}

.video{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 10px;
    margin-bottom: 50px;
}
.inviting{
    background-color: #E5BA73;
    width: 100%;
    height: 50%;
    margin-bottom: 90px;
}
.inviting a{
    text-decoration: none;
    margin: 10px;
}

section .user{
    font-size: 80px;
}
section .heart{
    font-size: 80px;
}

.left-content{
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 15px;
    padding: 30px;
    width: 40%;
    margin-bottom: 90px;
}

.left-text{
    margin-top: -5em;
    position: absolute;
    margin-left: 8rem;  
}

.left-content h5{
    font-size: 35px;
    font-weight: 700;
}

.right-content{
    position: absolute;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 15px;
    padding: 30px;
    width: 40%;
    margin-left: 48%;
    margin-top: -14.4em;
}

.right-content h5{
    font-size: 35px;
    font-weight: 700;
}
.form-img{
    position: fixed;
    width: 40%;
    margin-left: -7%;
    object-fit: cover;
}

.form-content{
    position: absolute;
    left: 56%;
    top: 24%;
}
.form-text a{
    text-decoration: none;
}
.form-text h3{
    margin-left: 2em;
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 2px solid black;
}

/* ini buat di login form */
input[type=username],
input[type=email],
input[type=password],
input[type=tel],
input[type=submit]{
    width: 120%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=submit]{
    padding: 5px;
}

.register{
    margin-top: -35px;
}
footer {
    background-color: #E5BA73;
    color: white;
    width: 100%;
    height: 50%;
    padding: 50px;
}

nav.nav-pag{
    margin-top: 5%;
    margin-left: 50% !important;
    margin-bottom: 10%;
}

/* dt */

.progress {
    --bs-progress-height: 1rem;
    --bs-progress-font-size: 0.75rem;
    --bs-progress-bg: var(--bs-secondary-bg);
    --bs-progress-border-radius: var(--bs-border-radius);
    --bs-progress-box-shadow: var(--bs-box-shadow-inset);
    --bs-progress-bar-color: #fff;
    --bs-progress-bar-bg:  #E5BA73;
    color: white;
    --bs-progress-bar-transition: width 0.6s ease;
    display: flex;
    height: var(--bs-progress-height);
    overflow: hidden;
    font-size: var(--bs-progress-font-size);
    background-color: var(--bs-progress-bg);
    border-radius: var(--bs-progress-border-radius);
}

.accordion-button:not(.collapsed) {
    color: #212529;
    background-color: transparent!important;
}
:root {
--bs-blue: #996C21;
--bs-indigo: #6610f2;
--bs-purple: #6f42c1;
--bs-pink: #d63384;
--bs-red: #dc3545;
--bs-orange: #fd7e14;
--bs-yellow: #ffc107;
--bs-green: #198754;
--bs-teal: #20c997;
--bs-cyan: #0dcaf0;
--bs-black: #000;
--bs-white: #fff;
--bs-gray: #6c757d;
--bs-gray-dark: #343a40;
--bs-gray-100: #FFECCD;
--bs-gray-200: #e9ecef;
--bs-gray-300: #dee2e6;
--bs-gray-400: #ced4da;
--bs-gray-500: #adb5bd;
--bs-gray-600: #6c757d;
--bs-gray-700: #495057;
--bs-gray-800: #343a40;
--bs-gray-900: #212529;
--bs-primary: #996C21;
--bs-secondary: #6c757d;
--bs-success: #198754;
--bs-info: #0dcaf0;
--bs-warning: #ffc107;
--bs-danger: #dc3545;
--bs-light: #FFECCD;
--bs-dark: #212529;
--bs-primary-rgb: 13, 110, 253;
--bs-secondary-rgb: 108, 117, 125;
--bs-success-rgb: 25, 135, 84;
--bs-info-rgb: 13, 202, 240;
--bs-warning-rgb: 255, 193, 7;
--bs-danger-rgb: 220, 53, 69;
--bs-light-rgb: 248, 249, 250;
--bs-dark-rgb: 33, 37, 41;
--bs-primary-text-emphasis: #996C21;
--bs-secondary-text-emphasis: #2b2f32;
--bs-success-text-emphasis: #0a3622;
--bs-info-text-emphasis: #055160;
--bs-warning-text-emphasis: #664d03;
--bs-danger-text-emphasis: #58151c;
--bs-light-text-emphasis: #495057;
--bs-dark-text-emphasis: #495057;
--bs-primary-bg-subtle: #cfe2ff;
--bs-secondary-bg-subtle: #e2e3e5;
--bs-success-bg-subtle: #d1e7dd;
--bs-info-bg-subtle: #cff4fc;
--bs-warning-bg-subtle: #FFECCD;
--bs-danger-bg-subtle: #f8d7da;
--bs-light-bg-subtle: #fcfcfd;
--bs-dark-bg-subtle: #ced4da;
--bs-primary-border-subtle: #FFEDCF;
--bs-secondary-border-subtle: #FFEDCF;
--bs-success-border-subtle: #FFEDCF;
--bs-info-border-subtle: #FFEDCF;
--bs-warning-border-subtle: #FFEDCF;
--bs-danger-border-subtle: #FFEDCF;
--bs-light-border-subtle: #FFEDCF;
--bs-dark-border-subtle: #FFEDCF;
--bs-white-rgb: 255, 255, 255;
--bs-black-rgb: 0, 0, 0;
--bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
--bs-body-font-family: var(--bs-font-sans-serif);
--bs-body-font-size: 1rem;
--bs-body-font-weight: 400;
--bs-body-line-height: 1.5;
--bs-body-color: #212529;
--bs-body-color-rgb: 33, 37, 41;
--bs-body-bg: #fff;
--bs-body-bg-rgb: 255, 255, 255;
--bs-emphasis-color: #000;
--bs-emphasis-color-rgb: 0, 0, 0;
--bs-secondary-color: rgba(33, 37, 41, 0.75);
--bs-secondary-color-rgb: 33, 37, 41;
--bs-secondary-bg: #e9ecef;
--bs-secondary-bg-rgb: 233, 236, 239;
--bs-tertiary-color: rgba(33, 37, 41, 0.5);
--bs-tertiary-color-rgb: 33, 37, 41;
--bs-tertiary-bg: #FFECCD;
--bs-tertiary-bg-rgb: 248, 249, 250;
--bs-heading-color: inherit;
--bs-link-color: #BD8F43;
--bs-link-color-rgb: 13, 110, 253;
--bs-link-decoration: underline;
--bs-link-hover-color: #996C21;
--bs-link-hover-color-rgb: 10, 88, 202;
--bs-code-color: #d63384;
--bs-highlight-bg: #FFECCD;
--bs-border-width: 1px;
--bs-border-style: solid;
--bs-border-color: #FFEDCF;
--bs-border-color-translucent: rgba(255, 237, 207, 0.175);
--bs-border-radius: 0.375rem;
--bs-border-radius-sm: 0.25rem;
--bs-border-radius-lg: 0.5rem;
--bs-border-radius-xl: 1rem;
--bs-border-radius-xxl: 2rem;
--bs-border-radius-2xl: var(--bs-border-radius-xxl);
--bs-border-radius-pill: 50rem;
--bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
--bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
--bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
--bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
--bs-focus-ring-width: 0.25rem;
--bs-focus-ring-opacity: 0.25;
--bs-focus-ring-color: rgba(13, 110, 253, 0.25);
--bs-form-valid-color: #198754;
--bs-form-valid-border-color: #198754;
--bs-form-invalid-color: #dc3545;
--bs-form-invalid-border-color: #dc3545;
}
.nav-pills {
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #BD8F43;
}
.dropdown-menu {
    --bs-dropdown-link-active-bg: #E5BA73;
}
.btn-primary {
    --bs-btn-color: #FFFAF0;
    --bs-btn-bg: #E5BA73;
    --bs-btn-border-color: #BD8F43;
    --bs-btn-hover-color: #BD8F43;
    --bs-btn-hover-bg: #E5BA73;
    --bs-btn-hover-border-color: #BD8F43;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #BD8F43;
    --bs-btn-active-border-color: #694200;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #E5BA73;
    --bs-btn-disabled-border-color: #E5BA73;
}
.btn-secondary {
    --bs-btn-color: #BD8F43;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: #D9B470;
    --bs-btn-hover-color: #694200;
    --bs-btn-hover-bg: #E5BA73;
    --bs-btn-hover-border-color: #BD8F43;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #BD8F43;
    --bs-btn-active-border-color: #694200;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #E5BA73;
    --bs-btn-disabled-border-color: #E5BA73;
}
